<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Agregar Nueva Canción</title>
</head>
<body>
<h1>Agregar Nueva Canción</h1>
<form th:action="@{/songs/new}" method="post" th:object="${song}">
  <label>Título: <input type="text" th:field="*{titulo}" required></label><br>
  <label>Artista: <input type="text" th:field="*{artista}" required></label><br>
  <label>Clasificación: <input type="number" th:field="*{clasificacion}" required></label><br>
  <button type="submit">Guardar</button>
</form>
<br>
<a th:href="@{/songs/all}">Volver a la Lista de Canciones</a>
</body>
</html>
