<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Canciones</title>
    <link rel="stylesheet" href="/list.css">
</head>
<body class="body">
<h1 class="title">Lista de Canciones</h1>
<form class="search-form" th:action="@{/search}" method="get">
    <input class="search-input" type="text" id="artist" name="artist" required>
    <button class="search-btn" type="submit">Buscar</button>
</form>
<table class="table">
    <tr class="row">
        <th class="column">Título</th>
        <th class="column">Clasificación</th>
        <th class="column">Detalles</th>
        <th class="column">Eliminar</th>
    </tr>
    <tr class="row" th:each="song : ${listaCanciones}">
        <td class="column" th:text="${song.titulo}"></td>
        <td class="column" th:text="${song.clasificacion}"></td>
        <td class="column"><a th:href="@{/songs/{id}(id=${song.id})}">Detalles</a></td>
        <td class="column">
            <form class="del-form" th:action="@{/songs/{id}/delete(id=${song.id})}" method="post">
                <button class="del-btn" type="submit">Eliminar</button>
            </form>
        </td>
    </tr>
</table>
<form class="add-form" th:action="@{/songs/new}" method="get">
    <button class="add-btn" type="submit">Agregar Nueva Canción</button>
</form>
<form class="top-form" th:action="@{/search/topTen}" method="get">
    <button class="top-btn" type="submit">Top 10 Canciones</button>
</form>

</body>
</html>
